.homeContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.HomeProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-radius: 20px;
    width: fit-content;
    height: 100%;
    padding: 20px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profileTitle {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}

.homeItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    height: 100%;
    max-height: 50vh;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: #ff6600 transparent;
}

.homeItems::-webkit-scrollbar-track {
    background: transparent;
}

.homeItems::-webkit-scrollbar-thumb {
    background-color: #ff6600;
    border-radius: 10px;
}

.radioGroup {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.radioOption {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 17px;
    background: transparent;
    color: #ff6600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.labelText {
    position: relative;
    z-index: 1;
}

.underline {
    position: absolute;
    bottom: 4px;
    left: 20px;
    right: 20px;
    height: 2px;
    background: #ff6600;
    border-radius: 2px;
}

.radioOption input {
    display: none;
    cursor: pointer;
}
