.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url('/images/lidesbackg2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
.mainContent {
    flex: 1;
    margin: 0 auto;
    width: 100%;
}