.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 10;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
}

.socialIcons svg path {
    fill: #ff6600;
}

.socialIcons svg rect {
    fill: #ff6600;
}

.socialIcons a {
    transition: all 0.3s ease;
}

.socialIcons a:hover {
    transform: scale(1.5);
}

.socialIcons a:hover svg path {
    fill: #ff3300;
}
.socialIcons a:hover svg rect {
    fill: #ff3300;
}