/* Used in all system */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
}

button {
    outline: none;
    cursor: pointer;
}

a {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}